.menu {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transition: all .1s linear;
}
.openMenu {
  width: 250px;
}
.closeMenu {
  width: 65px;
}
.firstMenu {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #006cff, #399efd) !important;
}
